/* Estilo para o player de vídeo */
.video-player {
    width: 87%; /* Largura proporcional */
    height: max-content; /* Altura ajustada proporcionalmente */
    max-width: auto; /* Largura máxima */
     /* Borda para destaque */
     /* Bordas arredondadas */
    display: block; /* Exibe como bloco */
    margin: 20px auto; /* Centraliza horizontalmente */
    padding: auto;

  }

.rss{
  height: 20%;
}

.seila{
  padding: auto;
}
.body {
  height: max-content;
}
  
.html {
  background-color: black;
}

